body{
    background-color: black;
    color: rgb(0, 0, 0);
    

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    flex-wrap: wrap;
}

main h1{
    /* background-color: cadetblue; */
    width: 100%;
    text-align: center;
}

main p{
    /* background-color: rgb(136, 253, 216); */
}